[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
django-simple-captcha = "*"

[dev-packages]

[requires]
python_version = "*"
